img{
    margin-top:15px;
}
.bernie{
    border-radius: 50%;
    border:5px solid grey;
}
.section_img
{
    float: left;
    margin: 20px; 
}
html{
    background: rgb(219, 216, 216);
    color:rgb(87, 86, 86);
    font-family:sans-serif;

    
}
.texte{
    /*margin-top:110px;*/
}

div{
    clear: both;

}

.seeyourself{
    text-align: center;
    margin-top: 40px;
    color: white;
    background-color: rgb(228, 6, 6);
    padding:8px;
    border-radius: 5%;
    font-size:25px;
    text-decoration: none;
    font-weight:600;
}
h1{
    font-family: verdana;
    color:rgba(227, 3, 3, 0.966);
    font-weight:7000;
    font-size:40px;
}
section
{
    
    background-color: white;
    text-align: center;
    margin: 40px auto auto auto;
    width:850px;
    border-radius: 2%;
    padding:25px;
}
.logo{
    text-align: left;
}
li{
    display: inline-block;
    padding: 20px;
    text-decoration: unset;
    color: gray;
    text-align: center;
    margin: 50px;;
}
div.texte{
    display: inline;
}
.explication{
    display: inline
}
a{
    text-decoration: none;
    color: gray;
}
.logo{
    padding-top:37px;
}
